/Detecting-Telephone-based-Social-Engineering-Attacks/Detecting-Telephone-based-Social-Engineering-Attacks-using-Scam-Signatures-Dataset-main/
/Detecting-Telephone-based-Social-Engineering-Attacks/eng/
*.zip